.widget_austeve_gallery_widget .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.widget_austeve_gallery_widget .layover {
	display: none;
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Black */
	z-index: 2; 
	color: white;
	padding-top: 2rem;
}

.widget_austeve_gallery_widget .layover .title {
	color: white;
}

.widget_austeve_gallery_widget .layover .button {
  	margin-top: 3rem;
}

.widget_austeve_gallery_widget .img {
	display: block;
}

ul.austeve_gallery_preview { /* Possibly only needed on large/medium screen */
	padding-top: 8rem;
}